@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --glass-bg: rgba(31, 31, 31, 0.425);
    --glass-border: rgba(255, 255, 255, 0.048);
    --text: #e5e7eb;
    --bg: #000;
    --sidebar-width: 21rem;
    --topic-page-background: (
    radial-gradient( circle at 0% 0%, #ff00008f, transparent 50%),
      radial-gradient(circle at 45% 15%, #ff5e00ad, transparent 40%),
      radial-gradient(circle at 105% -20%, #fffb00b7, transparent 40%),
      radial-gradient(circle at 96% 89%, #00ff15ad, transparent 40%),
      radial-gradient(circle at 70% 70%, #00fff2a8, transparent 40%),
      radial-gradient(circle at 33% 60%, #0011ffb6, transparent 40%),
      radial-gradient(circle at 0% 88%, #a200ffaf, transparent 40%);
    );
  }

  /* Math Theme */
  .theme-math {
    --color-text-title: #ff0000;
    --color-text-header: #ffd900;
    --topic-symbol-color: rgba(253, 253, 253, 0.096);
    --topic-surface-border: rgba(249, 115, 22, 0.28);
    --topic-card-shadow: rgba(249, 115, 22, 0.23);
    --topic-card-sheen: rgba(244, 114, 182, 0.22);
    --topic-blob-1: rgba(236, 72, 153, 0.36);
    --topic-blob-2: rgba(249, 115, 22, 0.3);
  }
  
  .theme-logic {
  --color-text-title: #00aaff; /* Some blue */
  --color-text-header: #0077cc; /* A darker blue */
  --topic-symbol-color: rgba(0, 170, 255, 0.22);
  --topic-surface: rgba(14, 30, 44, 0.65);
  --topic-surface-border: rgba(0, 150, 255, 0.28);
  --topic-card-shadow: rgba(0, 150, 255, 0.23);
  --topic-card-sheen: rgba(0, 170, 255, 0.22);
}

  /* Glossary Theme */
  .theme-glossary {
    --color-text-title: #e2e2e2;
    --color-text-header: #cecece;
    --topic-symbol-color: rgba(255, 255, 255, 0.315);
    --topic-surface-border: rgba(255, 255, 255, 0.534);
    --topic-card-shadow: rgb(168, 168, 168);
    --topic-card-sheen: rgb(7, 7, 7);
  }
}