@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --glass-bg: rgb(255, 0, 0);
    --glass-border: rgba(255, 255, 255, 0.048);
    --text: #e5e7eb;
    --bg: #000000;
    --sidebar-width: 21rem;
    scrollbar-color: transparent transparent;
  }

}