@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #d6d6d6;
    --accent2: #ff00ff;
    --glass-bg: rgba(31, 31, 31, 0.425);
    --glass-border: rgba(255, 255, 255, 0.048);
    --text: #e5e7eb;
    --bg: #000;
    --sidebar-width: 21rem;
  }

  /* Math Theme */
  .theme-math {
    --color-text-title: #ff0000;
    --color-text-header: #ff0037;
    --topic-symbol-color: rgba(251, 146, 60, 0.22);
    --topic-surface: rgba(44, 14, 31, 0.65);
    --topic-surface-border: rgba(249, 115, 22, 0.28);
    --topic-card-shadow: rgba(249, 115, 22, 0.23);
    --topic-card-sheen: rgba(244, 114, 182, 0.22);
    --topic-badge-bg: rgba(236, 72, 153, 0.18);
    --topic-badge-border: rgba(236, 72, 153, 0.38);
    --topic-badge-text: #f9a8d4;
    --topic-blob-1: rgba(236, 72, 153, 0.36);
    --topic-blob-2: rgba(249, 115, 22, 0.3);
  }

  /* Glossary Theme */
  .theme-glossary {
    --color-text-title: #e2e2e2;
    --color-text-header: #cecece;
    --topic-symbol-color: rgba(255, 255, 255, 0.315);
    --topic-surface-border: rgba(255, 255, 255, 0.534);
    --topic-card-shadow: rgb(168, 168, 168);
    --topic-card-sheen: rgb(7, 7, 7);
    --topic-badge-bg: rgba(234, 179, 8, 0.18);
    --topic-badge-border: rgba(150, 150, 150, 0.36);
    --topic-badge-text: #ffffff;  }
}